<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.angelahe.stepcounter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HomeActivity"
            android:label="@string/title_homepage" />
        <activity
            android:name=".Activity.UserRegisterActivity"
            android:label="@string/app_title" />
        <activity android:name=".Activity.DailyPlan" />
        <activity
            android:name=".Activity.AddExerciseActivity"
            android:label="@string/title_activity_add_exercise" />
        <activity android:name=".Activity.Congratulations" />

        <activity android:name=".Activity.SignUp" />


        <activity
            android:name=".Activity.ChangeProfile"
            android:parentActivityName=".Activity.ViewProfile" />
        <activity
            android:name=".Activity.ViewProfile"
            android:parentActivityName=".Activity.HomeActivity"></activity>

        <receiver android:name=".Activity.AlarmReceiver" />
        <receiver android:name=".Activity.CheckReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_TIME_TICK"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>